$font-stack: 'Karla';
$font-size: 16px;
$font-medium: 400;
$font-bold: 700;
$font-white: hsl(0, 0%, 100%);
$font-grey-500:  hsl(186, 15%, 59%);
$font-grey-900: hsl(187, 24%, 22%);
$font-green-200: hsl(148, 38%, 91%);
$font-green-600: hsl(169, 82%, 27%);
$font-red: hsl(0, 66%, 54%);


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: $font-medium;
}
*, *::before, *::after {
    box-sizing: border-box;
}
label::after {
    content: "*";
    color: $font-green-600;
    margin-left: 0.5rem;
}
body{
    background-color: $font-green-200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0.5rem;
    
}
h1{
    font-size: 2.5rem;
    font-weight: $font-bold;
    margin: 0 0 1rem 0;
    padding: 0;
    color: $font-grey-900;
}

.container{
    position: relative;
    top: 4.5rem;
    max-width: 500px;
    background-color: $font-white;
    padding: 1.25rem 1.5rem; ;
    border-radius: 10px;
}
fieldset{
    border: none;
    padding: 0;
}

legend::after{
    content: "*";
    color: $font-green-600;
    margin-left: 0.5rem;
}

input:focus, textarea:focus{
    outline: 1px solid $font-green-600;
    transition: border 0.2 ease, box-shadow 0.2s ease;
}
input.invalid, textarea.invalid{
    outline: 1px solid $font-red;
    transition: border 0.2 ease, box-shadow 0.2s ease;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    label{
        margin-bottom: 0.5rem;
        color: $font-grey-900;
    }
    input, textarea{
        padding: 1rem;
        border: 1px solid $font-grey-900;
        border-radius: 5px;
        font-size: 1rem;
        font-family: $font-stack;
        font-weight: $font-medium;
        color: $font-grey-900;
    }
    textarea{
        resize: vertical;
        padding: 1rem;
    }
}

.radio-class {
    display: flex;
    align-items: center;
    padding: 0.75rem; // match .form-group padding
    border: 1px solid $font-grey-500;
    border-radius: 5px;
    margin: 0.75rem 0; // match vertical spacing
    width: 100%; // ensure full width inside container

    input {
        margin-right: 0.5rem;
    }

    label {
        margin: 0;
    }
}

.general-container,
.support-container {
  background-color: white;
  outline: 1px solid transparent;
  transition: all 0.2s ease;
}

.general-container.selected,
.support-container.selected {
  background-color: $font-green-200;
  outline: 1px solid $font-green-600;
}

.error-message{
    color: $font-red;
    margin-top: 0.5rem;
    display: none;
}
 .consent-container{
    padding-left: 0.5rem;

   input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid $font-grey-500;
  width: 1rem;
  height: 1rem;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
  border-radius: 0; 
  margin-right: 1rem;
  transition: border-color 0.2s ease;
}

input[type="checkbox"]::before {
  content: "✔";
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: $font-green-600;
  height: 1rem;
  width: 1rem;
}

    label{
        max-width: 16rem;
    }
 }


.submit-button{
    background-color: $font-green-600;
    color: $font-white;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}



.toast {
    position: fixed;
    top: 15px;
    margin: 0 auto;
    max-width: 500px;
    background: #fff;
    padding: 1.25rem;
    border-radius: 4px;
    box-shadow: -1px 1px 10px
        rgba(0, 0, 0, 0.3);
    z-index: 1023;
    animation: slideInDown 0.3s
            ease-in-out forwards,
        fadeOut 0.5s ease-in-out
            forwards 3s;
    transform: translateX(110%);
}

.toast.closing {
    animation: slideOutDown 0.5s
        ease-in-out forwards;
}

.toast-progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #b7b7b7;
    animation: toastProgress 3s
        ease-in-out forwards;
}

.toast-content-wrapper {
    display: flex;
    flex-direction: column;
}
.toast-header{
    display: flex;
    padding: 0.25rem;
    align-items: center;
}

.toast-icon {
    // padding: 0.35rem 0.5rem;
    // font-size: 1.5rem;
    margin-right: 0.35rem;

}

.toast-message {
    flex: 1;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-size: large;
}
.toast-paragraph {
    flex: 1;
    font-size: 1rem;
    color: $font-green-200;

}

.toast.toast-success {
    background: $font-grey-900;
}

.toast.toast-success .toast-progress {
    background-color: #2ecc71;
}


@keyframes slideInDown {
    0% {
        transform: translateY(-100%); /* Start from above the viewport */
    }

    75% {
        transform: translateY(10%); /* Move a little below the viewport */
    }

    100% {
        transform: translateY(0); /* Final position */
    }
}


@keyframes slideOutUp {
    0% {
        transform: translateY(0); /* Start from the current position */
    }

    25% {
        transform: translateY(10%); /* Move a little below the viewport */
    }

    100% {
        transform: translateY(-100%); /* Slide out above the viewport */
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes toastProgress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@media screen and (min-width: 600px) {
    .container{
        max-width:780px;
        width: 100%; 
    }
    .name-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .form-group{
            margin: 0;
            width: 49%;
        }
    }
    .form-group{
        padding: 0.75rem;
        margin: 0;
    }
   
    .radio-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .radio-container .radio-class{
        width: 48%;
        gap: 10px;
    }
    .consent-container{
        width: 100%;
        label{
        max-width: 55rem;
    }
    
    }
    
    
}